# منع رفع مجلد Private_Files بالكامل
Private_Files/

# منع رفع دفتر RevMap_Image_Classifier_تجريبي.ipynb بالكامل
RevMap_Image_Classifier_تجريبي.ipynb

Projects/FlowerClassifier/Project_Image_Classifier_Project - Copy.ipynb
Projects/FlowerClassifier/data/raw/downloads/extracted/TAR_GZ.robots.ox.ac.uk_vgg_flowers_102_102flowersLQHsyAfbRilYz-PZL1eowlK0q9JA65VXcCAeRfeDskY.tgz
Projects/FlowerClassifier/Models_New/
